openapi: 3.1.0
info:
  title: United Rentals Total Control Equipment Locations API
  description: United Rentals provides a broad selection of APIs to simplify the procure-to-pay lifecycle for equipment rentals. The Total Control platform enables integration with customer procurement and ERP systems via EDI, cXML, JSON, and flat-file formats. Capabilities include punch-out catalog ordering, rental reservations, fleet management, invoice management, and automated PO/bill pay workflows. United Rentals is the world's largest equipment rental company.
  version: 1.0.0
  contact:
    name: United Rentals Integration Team
    url: https://www.unitedrentals.com/services/online-services/total-control/system-integration
  termsOfService: https://www.unitedrentals.com
servers:
- url: https://api.unitedrentals.com/v1
  description: United Rentals Production API
tags:
- name: Locations
  description: Branch locations and service areas
paths:
  /locations:
    get:
      operationId: listLocations
      summary: List Branch Locations
      description: Retrieve United Rentals branch locations by geography or proximity.
      tags:
      - Locations
      parameters:
      - name: zipCode
        in: query
        schema:
          type: string
        description: Filter by proximity to zip code
      - name: state
        in: query
        schema:
          type: string
        description: Filter by US state code
      - name: radius
        in: query
        schema:
          type: integer
        description: Search radius in miles (when using zipCode)
      responses:
        '200':
          description: Locations returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - ApiKeyAuth: []
components:
  schemas:
    Location:
      type: object
      properties:
        branchId:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        phone:
          type: string
        hours:
          type: string
        distance:
          type: number
          format: double
          description: Distance in miles from queried zip code
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: United Rentals API key from Total Control portal
